body {
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
}

menu {
    place-items: center;
}

.buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

.buttons>div {
    border: .4rem solid blue;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 1s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 125, 0.4);
    text-shadow: 0 0 .5rem blue;
}

kbd {
    display: block;
    font-size: 4rem;
}

.playing {
    transform: scale(1.1);
    border-color: cyan;
    box-shadow: 0 0 1rem cyan;
}

span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: blue;
}